## Words

In [44]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [45]:
# your code here
for word in words:
    if word[0].isupper():
        print(word)

**Create a new list containing only words with 5 or more letters**

In [46]:
# your code here
wordsWith5OrMoreLetters = []

for word in words:
    if len(word) >= 5:
        wordsWith5OrMoreLetters.append(word)
        
print(wordsWith5OrMoreLetters)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [47]:
# your code here
for word in words:
    if word[0] == "t":
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [48]:
# your code here
listWithAllSquareNumbers =[]
for number in range(1, 11):
    squareOfNumber = number ** 2
    listWithAllSquareNumbers.append(squareOfNumber)
    
print(listWithAllSquareNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [49]:
# your code here
listWithAllSquareOddNumbers =[]
for number in range(1, 11):
    if number % 2 != 0:
        squareOfNumber = number ** 2
        listWithAllSquareOddNumbers.append(squareOfNumber)
    
print(listWithAllSquareOddNumbers)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [50]:
# your code here
ListOfAllMulitpleOf8Below1000 = []
iterationNumber = 8 
while(iterationNumber < 1000):
    if iterationNumber % 8 == 0: 
        ListOfAllMulitpleOf8Below1000.append(iterationNumber)
    iterationNumber += 1
        
        
ListOfSquares = []
for multiple in ListOfAllMulitpleOf8Below1000:
    ListOfSquares.append(multiple ** 2)
print(ListOfAllMulitpleOf8Below1000)
print(ListOfSquares)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992]
[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216, 10816, 12544, 14400, 16384, 18496, 20736, 23104, 25600, 28224, 30976, 33856, 36864, 40000, 43264, 46656, 50176, 53824, 57600, 61504, 65536, 69696, 73984, 78400, 82944, 87616, 92416, 97344, 102400, 107584, 112896, 118336, 123904, 129600, 135424, 141376, 147456, 153664, 160000, 166464, 173056, 179776, 186624, 193600, 200704, 207936, 215296, 222784, 230400, 238144, 246016, 254016, 262144, 270400, 278784, 287296, 295936, 304704, 313600, 322624, 331776, 341056, 350464, 360000, 369664, 379456, 389376, 399424, 409600, 419904, 430336, 440896, 451584, 462400, 473344, 484416, 495616, 506944, 518400, 529984, 541696, 553536, 565504, 577600, 589824, 602176, 614656, 627264, 640000, 652864, 665856, 678976, 692224, 705600, 719104, 732736, 746496, 760384, 774400, 788544, 802816, 817216, 831744, 846400, 861184, 876096, 891136, 906304, 921600, 937024, 952576, 968256, 984064]

## People

In [51]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [52]:
# your code here
amount_of_people = len(people)
print(amount_of_people)

5

**How many people have kids**?

In [53]:
# your code here
amount_of_people_with_kids = 0
for person in people:
    if person['n_kids'] > 0:
        amount_of_people_with_kids += 1

amount_of_people_with_kids

4

**How many kids do they have in total?**

In [54]:
# your code here
# your code here
total_amount_of_kids = 0
for person in people:
    total_amount_of_kids += person['n_kids']
total_amount_of_kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [55]:
# your code here
# Example: Print names of people with more than 2 kids

for person in people:
    if person["name"][-1] == "a":
        person["n_kids"] += 1
    person["age"] += 1
    
people

[{'name': 'Juan', 'age': 35, 'n_kids': 2},
 {'name': 'Pepe', 'age': 28, 'n_kids': 0},
 {'name': 'Sonia', 'age': 42, 'n_kids': 2},
 {'name': 'Lucía', 'age': 23, 'n_kids': 3},
 {'name': 'Leo', 'age': 56, 'n_kids': 5}]